@model WebAppReportTest.Models.SearchParameterModel

@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    @using (Html.BeginForm("ReportViewer", "Home"))
    {
        @Html.AntiForgeryToken();
        @Html.ValidationSummary(true);
        <fieldset>
            <legend>Report 1</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.Id)
                    @Html.TextBoxFor(m => m.Id)
                    @Html.ValidationMessageFor(m => m.Id)
                </li>
            </ol>
            <input type="submit" id="btnSubmit" value="Ver Reporte" />
        </fieldset>
    }

    @if (Model != null)
    {
        @Html.ActionLink("Descargar en PDF", "GenerateAndDisplayReport", new { territory = Model.Id, format = "pdf" })
        @Html.ActionLink("Descargar en Excel", "GenerateAndDisplayReport", new { territory = Model.Id, format = "Excel" })

        <section class="border">
           <img src="@Url.Action("GenerateAndDisplayReport", "Home", new { territory = Model.Id, format = Model.Format  })" />
        </section>
    }

</div>